# Development
MONGODB_URI=mongodb://localhost:27017/LogoGalleryDevelopmentDB
NODE_ENV=development

# Test
# MONGODB_URI=mongodb://localhost:27017/LogoGalleryTestDB
# NODE_ENV=test

# Production
# MONGODB_URI=mongodb://localhost:27017/LogoGalleryDB
# NODE_ENV=production

# Common
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here
JWT_SECRET=your-jwt-secret-here
NEXT_PUBLIC_API_URL=http://localhost:3000

# OAuth Providers
# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# GitHub OAuth
GITHUB_ID=your-github-client-id
GITHUB_SECRET=your-github-client-secret 